.botoEnviar {
    font-size: 13px;
    background-color: var(--green);
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
    min-width: 50px;
    border: 1px solid var(--grey);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botoEnviar:hover {
    background-color: var(--greenHover);
    border: 1px solid var(--white);
    color: var(--white);
}

.botoEnviarEsquina {
    margin: 5px;
    /* border-radius: 0 0 15px 0; */
}

.botoEnviarBig {
    width: 100%;
    height: fit-content;
    font-size: 1em;
    border-radius: 10px;
    margin: 5px;
}