.sectionDadesPersonals {
    gap: 10px;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.dadesPersonalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-content: center;
}

.dadesPersonalsContainer p {
    margin: 0;
}

.singleInput {
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-grow: 1;
    min-width: 150px;
}




.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: stretch;
}

.inputContainer select,
.inputContainer input,
.inputContainer textarea {
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    border-radius: none;
    border-radius: 10px 0 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--grey);
}

.editButton {
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editButtonInput {
    border-radius: 0 10px 10px 0;
}

.progressContainer {
    position: relative;
    background-color: var(--lightGrey);
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
}

.deleteButtonFloating {
    position: absolute;
    right: 0;
    bottom: 0;
}

.progress {
    width: 100%;
    max-width: 100px;
}

.deleteRowProgress {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--red);
}

.deleteRowProgress:hover {

    cursor: pointer;
}


.section {
    border: 1px solid var(--grey);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.upperPart {
    width: 100%;
}

.sectionHeading {
    height: 50px;
    border: 1px solid var(--grey);
    display: flex;
    margin: 0;
    width: 100%;
    background-color: var(--grey);
    color: white;
    border-radius: 18px 18px 0 0;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.progressContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--white);
}

.results {
    width: 100%
}

.progressContainer p {
    margin-left: 20px;
}

.progressRange {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.buttonModify {
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}

.buttonDelete {
    background-color: var(--red);
    border-radius: 10px 0 0 10px;
}

.fa-trash-can,
.fa-floppy-disk,
.fa-plus {
    color: var(--black);
}


.addNew {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    background-color: var(--lightGrey);
    border: 1px solid var(--grey);
    border-radius: 0 0 18px 18px;
}

.valor {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}



.bigAddButton {
    width: 100%;
    background-color: var(--green);
    border: none;
    border-radius: 0 0 20px 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.fa-plus {
    margin-right: 10px;
    transform: scale(0.5);
}

.altresSeccions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;
    max-width: 900px;
    flex-wrap: wrap;

}





.formLarge {
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.formLargeList {
    display: flex;

    border: none;
    background-color: var(--white);
    border-radius: 0;
}

.formLargeNew {
    border: 1px solid var(--grey);
    background-color: var(--lightGrey);
    border-radius: 18px;
}

.formLarge input,
.formLarge textarea {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    width: 90%;
    color: var(--grey);
}

.formLarge textarea {
    max-height: 200px;
    min-height: 50px;
    resize: vertical;
}



.formButtons {
    display: flex;
    width: 90%;
    gap: 5%;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.formButtons button {
    border-radius: 10px;
}

.formMultipleLines {
    display: flex;
    gap: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.estudiAdded {
    margin: 10px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;
    max-width: 100%;
    border: 1px solid var(--grey);
    border-radius: 18px;
    padding: 5px 10px;
}

.estudiAdded label {
    font-size: 0.7em;
    color: var(--grey);
}

.fieldNoEdit {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
}

.fieldNoEdit p {
    margin: 0;
}

.inputError {
    border: red 2px solid;
}