.sectionDadesPersonals {
    gap: 10px;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.dadesPersonalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-content: center;
}

.dadesPersonalsContainer p {
    margin: 0;
}

.singleInput {
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-grow: 1;
    min-width: 150px;
}




.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: stretch;
}

.inputContainer select,
.inputContainer input,
.inputContainer textarea {
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    border-radius: none;
    border-radius: 10px 0 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--grey);
}

.editButton {
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editButtonInput {
    border-radius: 0 10px 10px 0;
}

.progressContainer {
    position: relative;
    background-color: var(--white);
    display: flex;
    margin: 2%;
    padding: 5px;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 2%;
    align-content: center;
}



.deleteComplex {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.modifyComplex {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.progress {
    width: 100%;
    max-width: 100px;
}




.section {
    border: 1px solid var(--grey);
    background-color: var(--grey);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;
    align-content: center;
}

.sectionTopPart {
    width: 100%;
}


.sectionHeading {
    height: 50px;
    display: flex;
    margin: 0;
    width: 100%;
    background-color: var(--grey);
    color: white;
    border-radius: 18px 18px 0 0;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.noCompleted {
    color: var(--white);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}



.results {
    width: 100%
}

.progressContainer p {
    margin-left: 20px;
}

.progressRange {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.DeleteForm {
    height: 100%;
}

.buttonModify {
    background-color: var(--yellow);
    border: none;
    border-radius: 14px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}

.buttonDelete {
    background-color: var(--red);
    border: none;
    border-radius: 14px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    width: fit-content;
    transition: all 0.3s ease;
}



.fa-trash-can,
.fa-floppy-disk,
.fa-plus {
    color: var(--black);
}


.addNew {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--lightGrey);
    border: 1px solid var(--grey);
    border-radius: 0 0 18px 18px;
    align-content: center;
    flex-wrap: nowrap;
}

.valor {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}



.bigAddButton {
    width: 100%;
    background-color: var(--green);
    border: none;
    border-radius: 0 0 20px 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.fa-plus {
    margin-right: 10px;
    transform: scale(0.5);
}

.altresSeccions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;
    max-width: 900px;
    flex-wrap: wrap;

}





.formLarge {
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.formLargeList {
    display: flex;
    margin-bottom: 50px;
    border: none;
    background-color: var(--white);
    border-radius: 0;
}

.formLargeNew {
    border: 1px solid var(--grey);
    background-color: var(--lightGrey);
    border-radius: 18px;
}

.formLarge input,
.formLarge textarea,
.input {
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 5px 10px;
    height: 20px;
    font-size: 14px;
    width: 90%;
    color: var(--grey);
}

.formLarge textarea {
    max-height: 200px;
    min-height: 50px;
    resize: vertical;
}



.formButtons {
    display: flex;
    width: 90%;
    gap: 5%;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.formButtons button {
    border-radius: 10px;
}

.formMultipleLines {
    display: flex;
    gap: 5%;
    width: 95%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.estudiAdded {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    margin: 2%;
    width: 96%;
    border: 1px solid var(--grey);
    background-color: var(--white);
    border-radius: 18px;
    padding: 2%;
}

.estudiAdded label {
    font-size: 0.7em;
    color: var(--grey);
}

.fieldNoEdit {

    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 5px 10px;
    border-radius: 10px;
}

.fieldNoEdit p {
    margin: 0;
}

.inputError {
    border: red 2px solid;
}


.allElements {
    background-color: var(--grey);
    width: 100%;
    max-width: 500px;
}

.principalField {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--lightGrey);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.principalField:hover {
    background-color: var(--midGrey);
}

.dropIconContainer {
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}

.dropIcon {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: all 0.3s ease;

}

.contentField {
    width: 100%;
    padding-bottom: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }


}

.rotate {
    transform: rotate(180deg);
}