:root {
    --grey: #808080;
    --lightGrey: #dadada;
    --white: #ffffff;
    --red: #ffaaaa;

    --redHover: #b47575;
    --yellow: #ffd7aa;
    --yellowLight: #fff2d7;
    --green: #aaffaa;
    --greenHover: #73b173;
    --blue: #aaaaff;
    --black: #000;

    --gradientBackground: linear-gradient(45deg, var(--blue) 0%, var(--green) 100%);
}

a {
    color: var(--black);
    text-decoration: none;
}

h1 {
    font-size: 2em;
    margin: 0;
}

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}