.allCVs {
    width: 90%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-radius: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
}

.fa-plus {
    font-size: 40px;
    color: var(--black);
}

.cvContainer {
    width: 100%;
    position: relative;
}

.cvBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    height: 200px;
    border: none;
    padding: 0px;
    background-color: var(--midGrey);
    border-radius: 10px;
}

.cvBox:hover {
    background-color: var(--lightGrey);
    transform: scale(0.98)
}

.cvBox p {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.eliminarCv {
    position: absolute;
    top: -5px;
    right: -5px;
    border: 3px solid var(--white);
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.eliminarCv:hover {
    background-color: var(--redHover);
}

.iconaEliminarCv {
    font-size: 18px;
}