.allCVs {
    width: 90%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-radius: 20px;
}

.cvContainer {
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    height: 200px;
    border: none;
    background-color: rgb(181, 181, 181);
    border-radius: 10px;
}

.cvContainer:hover {
    background-color: var(--lightGrey);
    transform: scale(0.98)
}